/target/
.metadata
/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
doc/~$*.docx
/javacc-6.0/doc/
/src/tests/*.class
/src/tests/*.java