/target/
.metadata
/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
doc/~$*.docx
/javacc-6.0/doc/
src/tests/*.java
src/tests/*.class
src/parser/*.class
src/application/ApplicationConstants.java
logs/fedprot.txt
